body{
    font-family: Impact, Haettenschweiler,, sans-serif, Helvetica, sans-serif;

}
#title{
    background-color: #ff4c68;
}
.navbar {
    background-color: #ff4c68;
}
.container-fluid{
    padding: 3% 15%;
}
.headline{
    padding-top: 15%;
    padding-bottom: 5%;
}
#note{
    padding-bottom: 5%;
}
#features{
    padding: 5% 15%;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.feature-box p{
    color: #8f8f8f;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Helvetica, sans-serif;
}
h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Helvetica, sans-serif;
}

.icon{
    color: #ef8172;
    margin-bottom: 5%;
}
.icon:hover{
    color: #ff4c68;
    margin-bottom: 5%;
}
.rotated {
    transform: rotate(15deg);
  
  }

  #testimonials{
    padding: 5% 15%;
    text-align: center;
    background-color: #ef8172;
    color: white;
  }

.test{
    padding: 0 20%;
}
.testimonial-image{
    width: 15%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    padding-bottom: 4%;
    text-align: center;
    background-color: #ef8172;
}
.press-image{
    width: 15%;
    margin: 20px 20px 50px;
}
    
